$border-color: #ccc;
$text-color: #474a54;
$quiet-text-color: #aaa;
$hover-color: #fcfcfc;
$hn-orange: #f60;
$hn-white: #fff;
$hn-gray: #f6f6ef;

@import 'components/loading-spinner';

@import 'components/comments';
@import 'components/item__list';
@import 'components/item__detail';

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-size: 90%;
  color: $text-color;
  line-height: 1.7;
}

html, body, body > .ember-view {
  height: 100%;
}

a:link {
  color: $hn-orange;
}

.main__nav {
  height: 3em;
  background-color: $hn-orange;
  padding-left: 10px;
}

.main__nav h1 {
  font-size: 140%;
  margin: 0;
  line-height: 2em;
  color: $hn-white;
}

.item__list {
  float: left;
  width: 25%;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  border-right: 1px solid $border-color;
  box-sizing: border-box;
}

.item__detail {
  float: left;
  width: 75%;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}

