@import 'components/loading-spinner';

@import 'components/comments';
@import 'components/items';

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #474a54;
  line-height: 1.5;
}

html, body, body > .ember-view {
  height: 100%;
}

.item__list {
  float: left;
  width: 25%;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}

.item__detail {
  float: left;
  width: 75%;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
  box-sizing: border-box;
}

