.comment {
  margin-top: 2em;
}

.comment__collapsor, .comment__collapsor:hover {
  text-decoration: none;
}

.comment__collapsor svg {
  margin-right: 0.5em;
  max-width: 15px;
}

.comment__collapsor svg {
  fill: $border-color;
}

.comment__meta {
  padding-bottom: 0.5em;
  border-bottom: 1px solid $border-color;
  color: $quiet-text-color;
  margin-bottom: 0.5em;
  font-size: 90%;
}

.comment .comment {
  margin-left: 2em;
}

.comment span.is-deleted, .comment span.is-dead {
  color: red;
}

