.item__detail .item {
  background-color: #f6f6ef;
  padding: 10px;
}

.item__detail .comment__list {
  padding: 10px;
}

.item__detail .item__title{
  margin: 0 0 0.5em 0;
  line-height: 1.5em;
}

.item__list .item {
  height: 85px;
  padding: 10px;
  border-bottom: 1px solid $border-color;
  display: block;
}

.item__list .item:hover {
  background-color: $hover-color;
  cursor: pointer;
}

.item__list .item.active {
  background-color: $hover-color;
}

.item__meta, .comment__meta {
  color: $quiet-text-color;
  margin-bottom: 0.5em;
  font-size: 70%;
}

.item__list .item__info {
  height: 100%;
  width: 90%;
  float: left;
  position: relative;
  padding-right: 10px;
  box-sizing: border-box;
}

.item__list .item__info .item__title {
  display: block;
  color: $text-color;
}

.item__list .item__info .item__meta {
  position: absolute;
  bottom: 0;
  margin: 0;
}

.item__list .item__comment_info {
  width: 10%;
  float: left;
  color: $quiet-text-color;
  font-size: 100%;
  font-weight: bold;
  text-align: center;
}

.item__list .comment__icon svg {
  margin-top: 10px;
  width: 100%;
  fill: $border-color;
}


