.item__list .item {
  height: 85px;
  padding: 5px 10px 5px 5px;
  border-bottom: 1px solid $border-color;
  display: block;
  border-left: 5px solid transparent;
}

.item__list .item:hover {
  background-color: $hn-gray;
  cursor: pointer;
}

.item__list .item.active {
  background-color: $hn-gray;
  border-left: 5px solid $hn-orange;
}

.item__list .item__meta {
  color: $quiet-text-color;
  margin-bottom: 0.5em;
  font-size: 90%;
}

.item__list .item__info {
  height: 100%;
  width: 90%;
  float: left;
  position: relative;
  padding-right: 10px;
  box-sizing: border-box;
}

.item__list .item__info .item__title {
  display: block;
  color: $text-color;
  font-size: 90%;
  line-height: 1.5em;
}

.item__list .item__info .item__meta {
  position: absolute;
  bottom: 0;
  margin: 0;
}

.item__list .item__comment_info {
  width: 10%;
  float: left;
  color: $quiet-text-color;
  font-size: 100%;
  font-weight: bold;
  text-align: center;
}

.item__list .comment__icon svg {
  margin-top: 10px;
  width: 100%;
  fill: $border-color;
}

