<div class="container">
  <h1>About HN Reader</h1>

  <p>I liked using <a href="https://twitter.com/_ryannystrom">Ryan Nystrom</a>'s
  <a href="https://itunes.apple.com/us/app/simple-reader-free-open-source/id1000995253?mt=8">Simple
    Reader</a> iOS app so much I built this clone for the web (and my laptop).</p>

  <p>It's an <a href="https://emberjs.com">Ember</a> app using the
  <a href="https://github.com/HackerNews/API">Firebase HN API</a>. In order to
  make things work, I had to cram the returned data in to adapters and
  serializers to get everything lined up.</p>

  <p>You can <a href="https://github.com/cdmwebs/hn-reader">view the source on GitHub</a>.</p>
  <p>You can <a href="https://twitter.com/cdmwebs">follow me on Twitter</a>,
  too.</p>

  <h3>Credits</h3>

  <ul>
    <li>The <a href="https://thenounproject.com/search/?i=146090">Speech
     Bubble icon</a> is by Pavel Skrytski from the Noun Project.</li>
    <li>The <a href="https://thenounproject.com/search/?q=expand+icomatic&i=18943">Expand
     icon</a> is by Icomatic from the Noun Project.</li>
    <li>The <a href="https://thenounproject.com/term/collapse/18936/">Collapse
     icon</a> is by Icomatic from the Noun Project.</li>
  </ul>
</div>

