<div class="item__list">
  {{#each stories as |item|}}
    {{item-list-item item=item}}
  {{else}}
    <p class="item">No items. Go outside?</p>
  {{/each}}
</div>

<div class="item__detail">
  {{outlet}}
</div>
